/* styles.css */

* {
	font-family: Arial, Helvetica, sans-serif, serif;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: white;
	text-align: center;
}

.container {
	width: 1000px;
	margin: 50px auto;
	text-align: left;
}

.logo {
	width: 50px;
}

.sidebar {
	display: inline-block;
	width; 300px;
	vertical-align: top;
}

.menu {
	margin-top: 100px;
	font-size: 50px;
}

.menutext {
	margin: 50px 0;
}
