/* styles.css */

* {
	font-family: Arial, Helvetica, sans-serif, serif;
}

body {
	background-color: white;
}

.container {
	width: 1000px;
	margin: 50px auto;
	text-align: left;
}

.logo {
	width:100px;
}

.sidebar {
	display: inline-block;
	width; 300px;
	vertical-align: top;
}

h1 {
	font-family: "Roboto", sans-serif;
}
