/* styles.css */

* {
	font-family: Arial, Helvetica, sans-serif, serif;
}

body {
	background-color: white;
}

.container {
	width: 500px;
	margin: 50px auto;
	text-align: left;
}

.logo {
	width:100px;
}

h1 {
	font-family: "Roboto", sans-serif;
}
